<article>
  <main *ngIf="gateway" class="my-5">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Parameter</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name:</th>
          <td>{{ gateway.name }}</td>
        </tr>
        <tr>
          <th scope="row">Serial Number:</th>
          <td>{{ gateway.serialNumber }}</td>
        </tr>
        <tr>
          <th scope="row">Ip v4:</th>
          <td>{{ gateway.ipv4 }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="px-3 border border-dark bg-secondary p-1 text-light d-flex justify-content-between align-items-center"
    >
      Devices
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn"
        (pointerdown)="openModal(content)"
        [disabled]="gateway.devices.length >= 10"
        [ngClass]="{
          'btn-danger': gateway.devices.length >= 10,
          'btn-outline-light': gateway.devices.length < 10
        }"
      >
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </div>
    <app-alert *ngIf="errorMsg" [errorMsg]="errorMsg.error.message"></app-alert>
    <table
      *ngIf="gateway.devices && gateway.devices.length > 0"
      class="table table-striped table-bordered"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">UID</th>
          <th scope="col">Vendor</th>
          <th scope="col">Created date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let device of gateway.devices; let i = index"
          [attr.data-index]="i"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ device.UID }}</td>
          <td>{{ device.vendor }}</td>
          <td>{{ device.createdAt | date: "medium" }}</td>
          <td
            [ngClass]="{
              'font-weight-bold': device.status,
              'text-muted font-weight-light': !device.status
            }"
          >
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <span class="text-uppercase">
                  {{ device.status ? "Online" : "Offline" }}
                </span>
              </div>
              <div class="col-6">
                <fa-icon
                  [icon]="statusIcon"
                  [ngClass]="{
                    'text-success': device.status,
                    'text-danger': !device.status
                  }"
                ></fa-icon>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <ng-template #content let-modal>
    <div
      class="modal-header"
      [class]="canAddMoreDevices() ? 'bg-success' : 'bg-danger'"
    >
      <h4 class="modal-title text-light">
        {{ canAddMoreDevices() ? "Add new device" : "Alert!" }}
      </h4>
      <button
        type="button"
        class="btn btn-outline-light"
        aria-label="Close"
        (pointerdown)="modal.dismiss('Cross click')"
      >
        <fa-icon [icon]="closeIcon"></fa-icon>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="!canAddMoreDevices()" class="alert alert-danger">
        <h3>You can not add more devices.</h3>
        <h5>Each gateway can connect a maximum of 10 devices.</h5>
      </div>
      <form
        *ngIf="canAddMoreDevices()"
        (submit)="onSubmit()"
        [formGroup]="deviceForm"
        id="deviceForm"
      >
        <div class="form-group">
          <label for="uid" class="sr-only">UID</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter an UID"
            name="uid"
            formControlName="UID"
          />
        </div>
        <div
          *ngIf="UID && UID.invalid && (UID.dirty || UID.touched)"
          class="alert alert-danger mt-3"
        >
          <small *ngIf="UID.errors?.['required']" class="font-italic">
            UID is required
          </small>
          <small *ngIf="UID.errors?.['pattern']" class="font-italic">
            UID must be a number
          </small>
        </div>
        <div class="form-group">
          <label for="vendor" class="sr-only">Vendor</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter a vendor"
            name="vendor"
            formControlName="vendor"
          />
        </div>
        <div
          *ngIf="vendor && vendor.invalid && (vendor.dirty || vendor.touched)"
          class="alert alert-danger mt-3"
        >
          <small *ngIf="vendor.errors?.['required']" class="font-italic">
            vendor is required
          </small>
        </div>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customSwitch1"
            formControlName="status"
            #statusCheckbox
          />
          <label class="custom-control-label" for="customSwitch1"
            >Status:
            <span class="text-muted">{{
              statusCheckbox.checked ? "online" : "offline"
            }}</span>
          </label>
        </div>
      </form>
      <app-alert
        *ngIf="errorMsg"
        [errorMsg]="errorMsg.error.message"
      ></app-alert>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (pointerdown)="modal.close('Close click')"
      >
        Close
      </button>
      <button
        *ngIf="canAddMoreDevices()"
        type="submit"
        class="btn btn-success"
        form="deviceForm"
        [disabled]="deviceForm.invalid"
      >
        <span *ngIf="!isLoading">Submit</span>
        <fa-icon *ngIf="isLoading" [icon]="loadingIcon" [spin]="true"></fa-icon>
      </button>
    </div>
  </ng-template>
</article>
